In [12]:
import pandas as pd

df = pd.read_json('../news_articles.json', orient='records').set_index('id')

In [13]:
df.head(5)

,title,authors,date,text,html_file,site,link
id,,,,,,,
1,Federal agency quashes Georgia's plan to let p...,,2023-12-17,ATLANTA -- Federal drug officials are warning ...,6a32c048474b4450acf801b7c7d2ea70,http://abcnews.go.com,https://abcnews.go.com/business/wirestory/fede...
2,US postage stamp and shipping prices go up Sunday,Yi-Jin Yu,2023-01-19,The U.S. Postal Service will increase stamp pr...,ebdcf498abb125c22060c160447c639b,http://abcnews.go.com,https://abcnews.go.com/gma/living/postage-stam...
3,"U.N. votes to ramp up Gaza aid, demand release...",Pamela Falk,2023-12-22,United Nations – The U.N. Security Council vot...,97e7c43a928f5913d2a48acbf9fddc44,http://aol.com,https://www.aol.com/u-n-votes-ramp-gaza-173512...
4,How to Create A Vision Board With Your Kids,Zayda Rivera,2023-12-22,A vision board can be a great tool to help chi...,c543199beaf9dd9aa494006b93e9fc13,http://aol.com,https://www.aol.com/create-vision-board-kids-2...
5,"Florida State has sued the ACC, setting the st...","RALPH D. RUSSO, BOB FERRANTE",2023-12-22,"TALLAHASSEE, Fla. (AP) — Florida State sued th...",fed691ece5355f4d8e3900231d69f044,http://apnews.com,https://apnews.com/article/florida-state-acc-l...

In [19]:
import langdetect

df['language'] = df.text.apply(lambda x: langdetect.detect(x))

In [21]:
df.language.value_counts()

language
en    421
it      2
es      1
Name: count, dtype: int64

In [22]:
df['text_len'] = df.text.apply(len)

In [23]:
df.text_len.describe()

count      424.000000
mean      5731.926887
std       6411.539254
min        214.000000
25%       2398.750000
50%       4113.000000
75%       6638.250000
max      54729.000000
Name: text_len, dtype: float64

In [24]:
from nltk.tokenize import word_tokenize

df['tokens'] = df.text.apply(lambda x: len(word_tokenize(x)))

In [25]:
df.tokens.describe()

count      424.000000
mean      1116.547170
std       1263.098505
min         41.000000
25%        473.500000
50%        764.000000
75%       1267.000000
max      11073.000000
Name: tokens, dtype: float64